// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-select{
	border: none;
	background: #FFF;
	margin:2px;
}

.get-list-table{
	td, th{
		padding-right:15px;
	}
}